.calendar-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .calendar-view {
    width: 80%;
    max-width: 500px;
    height: auto;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    background-color: #fff;
    padding: 20px;
  }
  