<form
  class="mt-5"
  method="post"
  action="http://localhost:3000/update"
  id="update-form"
>
  <h3 class="mt-1 mb-3">Edit Student Details:</h3>
  <label for="uid" class="form-label">UID: </label>
  <input
    type="number"
    value="{{ student.uid }}"
    class="form-control"
    name="uid"
    id="uid"
  />
  <label for="name" class="form-label">Name: </label>
  <input
    type="text"
    value="{{ student.name }}"
    class="form-control"
    name="name"
    id="name"
  />
  <label for="percent" class="form-label">Percent</label>
  <input
    type="number"
    value="{{ student.percent }}"
    class="form-control"
    min="0"
    max="100"
    name="percent"
    id="percent"
  />
  <label for="email" class="form-label">Email: </label>
  <input
    type="text"
    value="{{ student.email }}"
    class="form-control"
    name="email"
    id="email"
  />
  <label for="addr" class="form-label">Address:</label>
  <input
    type="text"
    value="{{ student.addr }}"
    class="form-control"
    name="addr"
    id="addr"
  />
  <input type="hidden" value="{{ student._id }}" name="studentID" />
  <button
    type="submit"
    class="btn btn-primary mt-3"
    id="update-btn"
  >
    Update
  </button>
</form>

<div class="alert alert-success mt-5 hidden" id="alert-msg" role="alert"></div>

