.user-list {
    padding: 20px;
  }
  
  .user-list ion-item {
    --background: #ffcccc;
    --border-radius: 8px;
    --margin-bottom: 10px;
    --box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border: 2px solid #000;
  }
  
  ion-content {
    background-color: #f5f5f5;
  }
  
  ion-title {
    color: #333;
  }
  
  ion-label h2,
  ion-label p {
    color: #666;
  }
  
  .user-list ion-button {
    color: #fff;
    background-color: #ff4d4f;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
  }
  