.logo-image {
  max-width: 100%;
  height: auto;
}

.form-card {
  margin-bottom: 20px;
}

.form-card-title {
  font-size: 1.5rem;
  font-weight: bold;
}

.form-card-content ul {
  list-style-type: none;
  padding: 0;
}

.form-card-content li {
  margin-bottom: 10px;
}

.form-accordion {
  margin-bottom: 10px;
}

.form-accordion-content {
  background-color: #060000;
  border-radius: 5px;
  padding: 10px;
}


